.sidebar-wrapper {
  background-color: rgb(27, 27, 27);
  width: 240px;
  min-height: calc(100vh - 64px);
  height: 100%;
  position: fixed;
  user-select: none;
  left: -240px;
  transition: left 200ms;
  z-index: 1;
}

.sidebar-wrapper div {
  padding: 16px;
  transition: background-color 200ms;
  cursor: pointer;
}

.sidebar-wrapper div:hover {
  background-color: rgb(93, 23, 222);
}

@media screen and (width >= 720px) {
  .sidebar-wrapper {
    left: 0;
  }
}
