.header-wrapper {
  background-color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px;
}

.route {
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 200ms;
}

.route:hover {
  background-color: rgb(93, 23, 222);
}

.active-route {
  background-color: rgb(93, 23, 222);
}
