.dimension-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.dimension-input {
  padding: 10px 0 10px 10px;
  font-size: 20px;
  outline: none;
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 3px;
}

.matrix-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.matrix-container {
  display: grid;
  border: 1px solid #ffffff;
  width: fit-content;
  /* aspect-ratio: 1 / 1; */
}

.matrix-box {
  width: 50px;
  outline: none;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(29, 29, 29);
  color: #ffffff;
  border: 1px solid #ffffff;
  aspect-ratio: 1 / 1;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: rgb(222, 152, 23);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 18px;
}

.calc-btn {
  background-color: rgb(93, 23, 222);
}

.reset-btn {
  background-color: rgb(250, 90, 37);
}

.dim-err-msg {
  text-align: center;
  margin-top: 20px;
}
